.jumbotron {
    margin-bottom: 0px;
    height: 100vh;
    background-image: url("images/taxi.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
}